<section>
  <div>
    <%= for todo <- @todos do %>
      <div class="text-lg p-20 border rounded m-10">
        <p>title: <%= todo.title %></p>
        <p>description: <%= todo.description %></p>
        <p>completed: <%= todo.done %></p>
      </div>
    <% end %>
  </div>
</section>
